<div class="login-section"><div class="loginsignup-container">
  <!-- REGISTER FORM -->
  <form *ngIf="activeForm === 'register'" class="form">
    <h2>Регистрация</h2>
    <div class="form-group">
      <input
        type="text"
        name="name"
        [(ngModel)]="registerObj.name"
        placeholder="Имя"
      />
    </div>
    <div class="form-group">
      <input
        type="email"
        name="email"
        [(ngModel)]="registerObj.email"
        placeholder="Эл.почта"
      />
    </div>
    <div class="form-group">
      <input
        type="password"
        name="password"
        [(ngModel)]="registerObj.password"
        placeholder="Пароль"
      />
    </div>
    <button class="btn-shadow" type="submit" (click)="registerForm()">Регистрация</button>

    <p (click)="toggleForm('login')">
      У вас уже есть аккаунт ? <span class="highlighted">Войти</span>
    </p>
  </form>

  <!-- LOGIN FORM -->
  <form *ngIf="activeForm === 'login'">
    <h2>Вход</h2>

    <div class="form-group">
      <input
        type="email"
        name="email"
        [(ngModel)]="loginObj.email"
        placeholder="Эл.почта"
      />
    </div>
    <div class="form-group">
      <input
        type="password"
        name="password"
        [(ngModel)]="loginObj.password"
        placeholder="Пароль"
      />
    </div>
    <button type="submit" (click)="loginForm()">Войти</button>
    <p (click)="toggleForm('register')">
      У вас нет аккаунта? <span class="highlighted">Регистрация</span>
    </p>
  </form>
</div>
</div>
<router-outlet></router-outlet>
