<div class="login-section">
  <div class="loginsignup-container">
    <!-- REGISTER FORM -->
    <form *ngIf="activeForm === 'register'" class="form" (ngSubmit)="registerForm()">
      <h2>Регистрация</h2>
      <div class="form-group">
        <input
          type="text"
          name="name"
          [(ngModel)]="registerObj.name"
          placeholder="Имя"
          required
        />
        <div *ngIf="errorNameRegister" class="error-message">Поле Имя обязательно для заполнения</div>
      </div>
      <div class="form-group">
        <input
          type="email"
          name="email"
          [(ngModel)]="registerObj.email"
          placeholder="Эл.почта"
          required
        />
        <div *ngIf="errorEmailRegister" class="error-message">Некорректная электронная почта</div>
      </div>
      <div class="form-group">
        <input
          type="password"
          name="password"
          [(ngModel)]="registerObj.password"
          placeholder="Пароль"
          required
        />
        <div *ngIf="errorPasswordRegister" class="error-message">Пароль должен содержать минимум 6 символов</div>
      </div>
      <button class="btn-shadow" type="submit">Регистрация</button>

      <p (click)="toggleForm('login')">
        У вас уже есть аккаунт ? <span class="highlighted">Войти</span>
      </p>
    </form>

    <!-- LOGIN FORM -->
    <form *ngIf="activeForm === 'login'" (ngSubmit)="loginForm()">
      <h2>Вход</h2>

      <div class="form-group">
        <input
          type="email"
          name="email"
          [(ngModel)]="loginObj.email"
          placeholder="Эл.почта"
          required
        />
        <div *ngIf="errorEmailLogin" class="error-message">Некорректная электронная почта</div>
      </div>
      <div class="form-group">
        <input
          type="password"
          name="password"
          [(ngModel)]="loginObj.password"
          placeholder="Пароль"
          required
        />
        <div *ngIf="errorPasswordLogin" class="error-message">Пароль должен содержать минимум 6 символов</div>
      </div>
      <button type="submit">Войти</button>
      <p (click)="toggleForm('register')">
        У вас нет аккаунта? <span class="highlighted">Регистрация</span>
      </p>
    </form>
  </div>
</div>

<router-outlet></router-outlet>