.example-spacer {
  flex: 1 1 auto;
}

.main-body {
  padding-top: 20px;
  margin: 0 auto;
  max-width: 1348px;
  mat-form-field {
    width: 100%;
  }
}

.action {
  display: flex;
  gap: 5px;
}

.navbar {
  display: flex;
  gap: 15px;
  flex-direction: column;
  list-style: none;
  align-items: end;
  margin-bottom: -20px;
}

.logout_button {
  text-decoration: none;
  cursor: pointer;
}

.log-container {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  width: 600px;
  max-width: 250px;
}

.logs {
  font-size: 22px;
}

.list_logs {
  list-style: none;
}