<mat-toolbar color="primary" class="header">
    <span>Логи</span>
    <div class="actions">
      <button mat-raised-button class="button" (click)="main()">Вернуться</button>
    </div>
</mat-toolbar>
<div class="main">
    <mat-form-field appearance="outline" class="filter">
        <mat-label>Фильтр</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input />
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="userId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Имя пользователя</th>
            <td mat-cell *matCellDef="let row">{{ row.userId }}</td>
        </ng-container>

        <ng-container matColumnDef="timestamp">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Дата</th>
            <td mat-cell *matCellDef="let row">{{ row.timestamp }}</td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Действие</th>
            <td mat-cell *matCellDef="let row">{{ row.action }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

</div>